<div style="padding: 3%;background-color: transparent;" class="mat-elevation-z2" cdk-scrollable>
  <mat-card-header>
    <mat-icon mat-card-avatar>feed</mat-icon>
    <mat-card-title>
      Spaces You Are Part Of
    </mat-card-title>
  </mat-card-header>
  <mat-divider>
  </mat-divider>
  <br />
  <div class="grid">
    <mat-card>
      <mat-card-title>
        Create New Space
      </mat-card-title>
      <mat-card-content>
        <button mat-button (click)="openDialog()">
          Create
        </button>
      </mat-card-content>
    </mat-card>
    <mat-card *ngFor="let space of spaces">
      <mat-card-header>
        <mat-card-title>
          {{space?.spaceName}}
        </mat-card-title>
        <mat-card-subtitle>
          Hosted By : <a>{{space?.admin?.userHandle}}</a> <!-- ToDo : Add User Component and redirect to that -->
        </mat-card-subtitle>
      </mat-card-header>
      <mat-card-content [innerText]="space?.spaceDescription"></mat-card-content>
    </mat-card>
  </div>
</div>
